global-exclude *.py[co] .DS_Store

include src/spykfunc/filters/udfs/CMakeLists.txt
include src/spykfunc/filters/udfs/_udfs.cpp
include src/spykfunc/filters/udfs/deps/pybind11/CMakeLists.txt
recursive-include deps/pybind11 *
